* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Overpass", sans-serif;
}

/* begin header */

header {
  width: 100%;
  height: auto;
}

.navbar {
  padding: 12px;
  background-color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 1s;
}

.navbar a {
  margin: 6px;
  text-decoration: none;
  color: #fff;
  filter: brightness(90%);
}

.navbar a:hover {
  text-decoration: underline;
}

.begin-stuk h1 {
  padding: 20px;
  text-align: center;
}

.begin-stuk {
  width: 100%;
  height: auto;
  text-align: center;
}

.begin-stuk P {
  color: #2b2c28;
  background-color: #afdedc;
}

/* einde header */

/* begin main */

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #ceb5a7;
}

/* einde main */

/* begin footer */

footer {
  width: 100%;
  height: auto;
}

.footbar {
  width: 100%;
  height: auto;
  background: #eaefb1;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.footbar p {
  margin: 3px;
}

/* einde footer */
